.center {
position: absolute;
  top: 50%;
  list-style-type: none;
  text-align: center;
  width: 50%;
}

li {
  display: inline;
  margin-right: 50px;
}

a {
  color: white;
  font-family: gotham;
}
