.navbar {
  margin-top: 600px;
  list-style-type: none;
  justify-content: center;
  display: flex;
  }

li {
  display: inline;
  margin-right: 50px;
  margin-top: 20px;
}

a {
  color: white;
  font-family: gotham;
}

body {
  background-image: url(../images/city2.jpg);no repeat;
  background-size: 100%;
}
